@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
}

html {
    
    background-size: cover;
    width: 100%;
}

.container {
    text-align: center;
    margin-top: 25px;
}

table {
    margin: auto;
}

input {
    width: 560px;
    text-align: right;
    font-size: 35px;
    border: 4px solid #a28089;
    border-radius: 5px;
}

button {
    font-size: 40px;
    background-color: #d0bdf4;
    width: 140px;
    height: 80px;
    cursor: pointer;
    border-radius: 10px;
}

.calculator {
    width: 600px;
    display: inline-block;
    background-color:#494d5f;
    padding: 20px;
    border-radius: 20px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Bahnschrift SemiBold;
    color: #2d545e;
}